* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.intro {
  background: #23424a;
  color: white;
  padding: 70px 50px;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.intro-content {
  width: 70%;
}

.header-button {
  border: none;
  border-radius: 31.5px;
  background-color: #38cfd9;
  mix-blend-mode: normal;
  padding: 15px 47px;
  cursor: pointer;
  margin-top: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 150.19%;
}
