* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.intro-content {
  padding: 50px 0;
  background: #23424a;
  color: white;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.container--small {
  width: 50%;
}
